@media (min-width: 768px) {
    .nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .menu-toggle {
        display: none;
    }
    main {
        max-width: 900px;
        margin: auto;
    }
    main h1 {
        font-size: 2.5rem;
    }
}